*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #5D3BEE;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    background: #FBFAFF;
}

/* common */
.section-heading {
    font-family: 'DM Sans', sans-serif;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.19;
    color: #080415;
}

.section-desc {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #51586A;
}

a {
    text-decoration: none;
}

.btn {
    font-family: 'DM Sans', sans-serif;
    display: inline-block;
    min-width: 170px;
    line-height: 62px;
    text-align: center;
    background: var(--primary-color);
    font-size: 1.8rem;
    color: #FDFDFD;
    font-weight: 700;
    padding: 0 16px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.card-item {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 2px dashed #f60000 ;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header top */
.header-top {
    padding: 20px 135px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.follow-me__link,
.contact__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.contact__inner--icon {
    width: 24px;
    height: auto;
}

.contact__email {
    text-decoration: underline;
    color: #080415;
    font-size: 2.2rem;
    line-height: 1.36;
    font-weight: 500;
}

.header-top__logo {
    width: 100px;
    height: 100px;
}

.hero__media--img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-top__nav {

}

.nav__list {
    max-width: 100%;
    display: flex;
}

.nav__item {
    padding: 8px 21px;
}

.nav__link {
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.header-hero {
    position: relative;
    margin-top: 44px;
}


.header::after {
    position: absolute;
    content: url(../images/hero-deco-02.svg);
    bottom: 0;
    right: 0;
    z-index: -1;
}

.hero__media {
    position: relative;
    background-image: url(../images/hero-deco-01.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.hero__media--img {
    display: block;
    max-width: 514px;
    height: auto;
}

.hero__content {
    position: relative;
}

.hero__heading {
    margin-top: 137px;
    max-width: 500px;
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__desc {
    max-width: 370px;
    margin-top: 20px;
}

.hero__cta {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero__btn {

}

.hero__follow-me {
    display: flex;
    align-items: center;
    margin-top: 104px;
}

.hero__link {
    color: #080415;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.67px;
}

.follow-me__link {
    width: 40px;
    height: 40px;
}

.follow-me__link i {
    font-size: 1.8rem;
    color: #080415;
    border-color: rgb(227 225 232);
}

.follow-me__title {
    margin-right: 15px;
    color: #51586A;
    font-weight: 500;
    line-height: 1.87;
}

.follow-me__link + .follow-me__link {
    margin-left: 30px;
}

/* company */
.company {
    padding-top: 100px;
    background-color: #fff;
}

.company__row {
    display: flex;
}

.company__line {
    display: block;
    width: 86px;
    height: 2px;
    margin-top: 33px;
    background-color: var(--primary-color);
}

.branch__heading {
    margin-top: 11px;
    margin-left: 13px;
    width: 253px;
    font-size: 4.2rem;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.branch__list {
    margin-left: 105px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.branch-row {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
}

.branch__logo {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch__list--item {
    display: flex;
    gap: 13px;
    align-items: center;
}

.branch__name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #080415;
    letter-spacing: -1.1px;
}

.branch__logo {
    border-radius: 50%;
}

.branch__logo--mailchimp {
    background-color: #FEE101;
}

.branch__logo--adobe {
    background-color: #F00;
}

.branch__logo--upwork {
    background-color: #14A800;
}

.branch__logo--woocommerce {
    background-color: #7F54B3 ;
}

/* services */
.services {
    padding-top: 133px;
    padding-bottom: 140px;
    background-color: #fff;
}
.services__heading {
    text-align: center;
    letter-spacing: -2.24px;
}

.services__desc {
    max-width: 534px;
    text-align: center;
    margin: 20px auto 0;
}

.services__list {
    margin-top: 60px;
}

.services__item {
    max-width: 100%;
}

.services__item--inner {
    background-color: #FBFAFF;
    padding: 33px 42px 32px 43px;
}

.services__media--product,
.services__media--UI-UX,
.services__media--interactive {
    background-image: url(../icons/services-product-icon.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:6px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.05);
}

.services__media--UI-UX {
    background-image: url(../icons/services-ui-ux-icon.svg);
    background-position-y:10px;
}

.services__media--interactive {
    background-image: url(../icons/services-interactive-icon.svg);
    background-position:-6px 10px;
}

.services__item--title {
    margin-top: 22px;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.services__item--desc {
    margin-top: 15px;
    letter-spacing: -0.2px;
}

/* works */
.works {
    background: var(--primary-color);
    padding: 86px 0 86px;
}

.works__content {
    display: flex;
}

.works__heading {
    max-width: 468px;
    letter-spacing: -2.24px;
    color: #fff;
}

.works__desc {
    margin-left: 160px;
    max-width: 370px;
    opacity: 0.7;
    margin-top: 31px;
    color: #fff;
}

.works__item {
    position: relative;
}

.works__item::after {
    position: absolute;
    content: url(../images/works-deco.png);
    top: 0;
    right: 0;
    overflow: hidden;
}

.works__list {
    margin-top: 70px;
    row-gap: 30px;
}

.works__item--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFAFF;
    padding: 24px 23px 23px 34px;
}

.works__item--content {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.works__item--title {
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.works__item--desc {
    display: block;
    max-width: 220px;
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.44;
    color: #51586A;
    letter-spacing: -0.2px;
}

.works__item--cta{
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
    margin-top: 20px;
}
.works__media {
    display: block;
    background-image: url(../images/works-website.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 246px;
    height: 187px;
    z-index: 2;
}

.works__media--banking {
    background-image: url(../images/works-banking.png);
}

.works__media--oculus {
    background-image: url(../images/works-oculus.png);
}

.works__media--study {
    background-image: url(../images/works-web-app.png);
}

.works__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
}

.works__btn {
    color: #080415;
    background-color: #fff;
}

/* about me */
.about-me {
    padding-top: 140px;
}
.about-me__head {
    position: relative;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    margin: 0 auto;
    text-align: center;
}

.about-me__head::after {
    position: absolute;
    right: calc(50% - 120px);
    bottom: -3px;
    content: url(../icons/about-me-hand-icon.svg);
}

.about-me__heading {
    margin-top: 10px;
    letter-spacing: -2.24px;
    text-align: center;
}

.about-me__desc {
    display: block;
    max-width: 570px;
    text-align: center;
    margin: 15px auto 0;
}

.statistic__list {
    max-width: 946px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: solid 1px rgba(8, 4, 21, 0.2);
    border-top: solid 1px rgba(8, 4, 21, 0.2);
    margin: 70px auto 0;
}

.statistic__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}

.statistic__title {
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.statistic__media {
    z-index: 1;
    position: relative;
    margin-top: 70px;
}

.statistic__media--play {
    z-index: 2;
    position: absolute;
    width: 111px;
    height: 111px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    background-color: transparent;
}

.about-me__media--card {
    display: block;
    position: absolute;
    color: #51586A;
    background-color: #fff;
    bottom: 10px;
    right: 10px;
}

.statistic__media--play::before {
    content: url(../icons/about-me-play-btn.svg);
    width: 100%;
    height: auto;
}

.statistic__media--video {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Testimonials */

.testimonials {
    position: relative;
    background-color: #FBFAFF;
    margin-top: -323px;
    padding-bottom: 74px;
    padding-top: 473px;

}

.testimonials::before{
    display: block;
    position: absolute;
    content: url(../icons/testimonal-deco-left.svg);
    bottom: -3px;
    left: 0;
}

.testimonials::after{
    display: block;
    position: absolute;
    content: url(../icons/testimonal-deco-right.svg);
    right: 0;
    bottom: -3px;
}

.testimonials__list{
    display: flex;
    overflow: hidden;
}

.testimonials__item {
    display: none;
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
}

.testimonials__heading {
    letter-spacing: -2.24px;
    text-align: center;
}

.testimonials__desc {
    display: block;
    margin: 20px auto 0;
    max-width: 570px;
    text-align: center;
}

.testimonials__quote {
    display: block;
    color: #51586A;
    max-width: 679px;
    margin: 60px auto 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67; 
}

.testimonials__people {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people__info {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.people__info--avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F29764;
    overflow: hidden;
}

.people__info--img {
    width: 100%;
    height: auto;
    display: block;
}

.people__info--name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 40px;
}

.people__job {
    color: #51586A;
    margin-top: 3px;
    font-size: 1.6rem;
    line-height: 1.8;
}

.testimonials__item.active {
    display: block;
}

.testimonials__tabs {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.tab__item {
    width: 20px;
    height: 20px;
    background-color: #cac9d0;
    border-radius: 50%;
    border: 2px solid #fff;
}


.tab__item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    background-color: #fff;
}

.tab__item.active > .tab__item--inner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:var(--primary-color);
}

/* Faq */
.faq {
    background-color: #fff;
    padding-top: 95px;
}

.faq__heading {
    max-width: 575px;
    letter-spacing: -2.24px;
}

.faq__list {
    max-width: 1009px;
    margin-top: 80px;
}

.faq__item {
    display: flex;
    justify-content: space-between;
    padding: 0 0 11px 22px;
    border-bottom: 2px solid #08182F;
}

.faq__item + .faq__item {
    margin-top: 60px;
}

.faq__item--question {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.faq__item--cta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #d0d1d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq__item--cta i {
    color: #080415;
}

.faq__item--answer {
    transition: scale 5s;
    max-width: 487px;
    margin-top: 23px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586A;
    display: none;
}

.faq__item.active {
    padding-bottom: 21px;
    border-color: var(--primary-color);
}

.faq__item.active > .faq__item--cta i {
    color: var(--primary-color);
}

.faq__item.active > .faq__item--cta {
    margin-top: 22px;
    border-color: #e1dafc;
}

.faq__item.active > .faq__item--content > .faq__item--question {
    color: var(--primary-color);
}

.faq__item.active > .faq__item--content > .faq__item--answer {
    display: block;
}

/* interactive */
.interaction {
    background-color: #fff;
    padding-top: 160px;
}

.interaction__heading {
    text-align: center;
    letter-spacing: -2.24px;
}

.interaction__desc,
.interaction__link {
    display: block;
    margin: 0 auto;
    max-width: 528px;
    margin-top: 20px;
    text-align: center;
}

.interaction__link {
    color: var(--primary-color);
    margin-top: 30px;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    text-decoration-line: underline;
}

.interaction__list {
    margin-top: 70px;
}

.interaction__img {
    max-width: 100%;
    height: 529px;
    object-fit: cover;
}

/* action */
.action {
    background-color: #fff;
    padding-top: 140px;
}

.action__container {
    width: 1330px;
}

.action__inner {
    padding: 60px 0;
    background-color: #FBFAFF;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
}

.action__desc {
    max-width: 474px;
    text-align: center;
}

.action__cta {
    margin-top: 20px;
}

/* footer */
.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #fff;
}

.footer__container {
    max-width: 1430px;
    margin: 0 auto 18px;
    border-bottom: 1px solid #e0dfe3;
    padding-bottom: 32px;
}


.footer__container > .container {
    width: 1330px;
}

.footer__inner {
    padding: 0
}

.footer__logo {
    background-color: #fff;
}

.license__left,.license__right {
    color: #525771;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.license__inner {
    display: flex;
    justify-content: space-between;
}
